{% extends "base.html" %}

{% block content %}
  <main class="page" role="main">


    <section class="page-section  page-section-generic">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Support</h1>
          </div>
        </div>

        <div class="row">

            <div class="col-sm-12">

              <h2>IRC</h2>
              <p>You can find us on the Freenode Server @ #nodeknockout</p>
              <p>irc.freenode.net</p>

            </div>

          </div>

      </div> <!-- /container -->

    </section> <!-- /page-section -->

  </main> <!-- /page -->
{% endblock %}
