// Core variables and mixins
@import "variables.less";
@import "mixins.less";


.umrum-admin {
    margin-top: 50px;
}

.wrap {
    padding-left: 0;
}

.page-wrap {
    width: 100%;
    padding: 5px 15px;
}

.navbar-inverse {
    background: fade(@brand-inverse-darker, 90%);
    border: none;

    .navbar-brand {
        color: #fff;
        font-size: 1.2em;
    }
}

.announcement-heading {
    font-size: 50px;
    margin: 0;
}

.announcement-text {
    margin: 0;
}

.tracking-snippet {
    &-link {
        font-size: 12px;
    }
    &-code {
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 50%;
        width: 450px;
        transform: translate(-50%, -50%);
        &-close {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 8px;
            font-weight: bold;
            cursor: pointer;
        }
        .invisible-code & {
            display: none;
        }
    }
}

.current-visitors {
  width: 25%;
  display: inline-block;
  border: 1px solid #BCE8F1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  p {
    margin: 0;
  }
}
.cv-heading, .cv-footer {
  padding: 10px 15px;
}
.cv-heading {
  color: #3A87AD;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  text-align: right;
}
.cv-footer {
  background-color: #F5F5F5;
}
.cv-counter {
  font-size: 50px;
}

.performance-metrics {
  width: 25%;
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #BCE8F1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  p {
    margin: 0;
  }
}
.pm-body {
  padding: 10px 15px;
}
.pm-footer {
  background-color: #F5F5F5;
  padding: 10px 15px;
}
.server-time-meter, .page-load-time-meter {
  width: 50%;
  display: inline-block;
  text-align: center;
  .fa-clock-o {
    font-size: 27px;
    margin-bottom: 16px;
  }
}
.stm-counter, .pltm-counter {
  font-weight: bold;
  font-size: 20px;
}

.top-pages {
  min-width: 350px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #1ABC9C;
}
.tp-heading {
  padding: 10px 15px;
  background-color: #1ABC9C;
}
.tp-body {
  padding: 10px 15px;
}
.tp-title {
  color: #FFF;
  margin: 0;
}

.top-page-item {
  margin: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tpi-counter {
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
  width: 47px;
  display: inline-block;
  text-align: right;
}
.tpi-title {
  margin-left: 10px;
}

.asf-button {
  padding: 4px 15px;
  margin-left: 10px;
}

@media (min-width:768px) {

    .wrap {
        padding-left: 190px;
    }

    .page-wrap {
        padding: 15px 25px;
    }

    .side-nav {
        margin-left: -190px;
        left: 190px;
        width: 190px;
        position: fixed;
        top: 50px;
        height: 100%;
        border-radius: 0;
        border: none;
        background: fade(@brand-inverse-darker, 90%);
        overflow-y: auto;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        background: @brand-inverse-darker;
    }

    .side-nav > li.dropdown > ul.dropdown-menu {
        position: relative;
        min-width: 190px;
        margin: 0;
        padding: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
    }

    .side-nav > li.dropdown > ul.dropdown-menu > li > a {
        color: #999;
        padding: 15px 15px 15px 25px;
    }

    .side-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
    .side-nav > li.dropdown > ul.dropdown-menu > li > a.active,
    .side-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
        color: #fff;
        background-color: @brand-inverse-darker;
    }

    .side-nav > li > a {
        width: 190px;
    }

}
