<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>UMRUM | Ultimate Magic Real User Monitoring signup</title>
    <link rel="stylesheet" type="text/css" href="{{assetsURL}}css/main.css" />
</head>
<body>
    <div class="site-content">
        {# http://blog.nodeknockout.com/post/35364532732/protip-add-the-vote-ko-badge-to-your-app #}
        <iframe src="http://nodeknockout.com/iframe/frontend-bahia" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
    </div>

    <form action="/users/session" class="signin form-horizontal" method="post">
        <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Sign in</button>
            &nbsp;
            | or&nbsp;
            <a href="/signup" class="show-signup">Sign up</a>
        </div>
    </form>
</body>
</html>
