{% extends "admin-base.html" %}

{% block content %}
  <div class="page-wrap">
    <div id="content"></div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="/socket.io/socket.io.js"></script>

  <script>
    React.renderComponent(
      Dashboard({
        siteHost: "{{ host }}",
        hostID: "{{ hostId }}",
        initialVisitors: {{ data.currentVisits or 0 }},
        initialTopPages: [{% for page in data.topPages %} {"url": "{{page.url}}", "counter": "{{page.counter}}"}, {% endfor %}]
      }),
      document.getElementById('content')
    );
  </script>
{% endblock %}
