{% extends "admin-base.html" %}

{% block sidebar %} {% endblock %}

{% block content %}

<div class="page-wrap ">
  <div id="sites_manager" class="row">
    <div class="col-lg-6">
      <div id="content"></div>
    </div>
  </div><!-- /.row -->
</div><!-- /#page-wrapper -->
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    /** @jsx React.DOM */
    React.renderComponent(
      TrackedSites({sites: [{%for site in sites%} {"code": "{{site.code}}", "host": "{{site.host}}"}, {%endfor%}]}),
      document.getElementById('content')
    );
  </script>
{% endblock %}
