{% extends "base.html" %}

{% block content %}
  <main class="page" role="main">

    <section class="page-section  page-section-generic">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Erro {{ statusCode }}</h1>
          </div>
        </div>

        <div class="row">

            <div class="col-sm-12">
              <h2>Oops...</h2>
              <p class="lead">We're really sorry, but the page you are trying to load is not available [at the moment].</p>
              <p>{{ statusMessage }}</p>
            </div>

          </div>

      </div> <!-- /container -->

    </section> <!-- /page-section -->

  </main> <!-- /page -->
{% endblock %}
