{% extends "base.html" %}

{% block content %}
  <main class="page" role="main">


    <section class="page-section  page-section-generic">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Getting started</h1>
          </div>
        </div>

        <div class="row">

            <div class="col-sm-12">

              <p class="lead">UMRUM has a few easy ways to quickly get started. Read through to get it up and running in minutes.</p>

              <h2>Requirements / Dependencies</h2>
              <ul>
                <li><strong>NodeJS >= 0.10</strong></li>
                <li><strong>Redis</strong> (you need to run a local instance of Redis before running the app)</li>
                <li><strong>MongoDB</strong> (it's necessary to define <code>env</code> variable <code>MONGO_URI</code> before running the app or tests - alternatively you can run a local MongoDB)</li>
                <li><strong>Git</strong></li>
              </ul>


              <h2>Installation</h2>
              <pre>
  $ git clone https://github.com/umrum/umrum.git
  $ cd umrum
  $ npm install</pre>


              <h2>Running</h2>
              <p></p>
              <pre>
  $ grunt server</pre>
              <p>UMRUM will be available at <code>http://localhost:8000</code>.</p>
              <p>You can also configure Grunt to run before any commit (pre-commit hook):</p>
              <pre>
  $ echo "grunt || exit 1" > .git/hooks/pre-commit
  $ chmod +x .git/hooks/pre-commit</pre>


              <h2>Testing</h2>
              <pre>
  $ grunt unittest</pre>


              <h2>Deploy</h2>
              <p>Coming soon...</p>


              <p class="lead">If you know your way through coding read our detailed <a href="/documentation">documentation</a>.</p>
            </div>

          </div>

      </div> <!-- /container -->

    </section> <!-- /page-section -->

  </main> <!-- /page -->
{% endblock %}
