{% extends "base.html" %}

{% block content %}
  <main class="page  page-home" role="main">

    <div class="jumbotron  page-home-intro">
      <!-- <canvas class="page-home-intro-bg" id="canvas-particles"></canvas> -->
      <div class="container">
        <div class="row">
          <div class="col-md-8  col-sm-8">
            <h1>Ultimate Magic Realtime User Monitoring</h1>
            <p>Open source user monitoring service using NodeJS.</p>
            <p>Built for you. Managed by you.</p>
            <p class="page-home-intro-btns">
              <a class="btn  btn-primary  btn-lg" href="/signup" role="button"><i class="fa  fa-lg  fa-fw  fa-github"></i>Sign up</a>
              <a class="btn  btn-info  btn-lg" href="/getting-started" role="button">Learn more</a>
            </p>
          </div>
          <div class="col-md-4  col-sm-4">
            <!-- <div id="p1" style="height: 300px;">
              <canvas id="c1"></canvas>
            </div> -->
            <div class="gauge"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-sm-8">
            <div class="umrum-social">
              <ul class="umrum-social-buttons">
                <li>
                  <iframe class="github-btn" src="//ghbtns.com/github-btn.html?user=umrum&amp;repo=umrum&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
                </li>
                <li>
                  <iframe class="github-btn" src="//ghbtns.com/github-btn.html?user=umrum&amp;repo=umrum&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
                </li>
                <li class="tweet-btn">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://umrum.io/" data-count="horizontal">Tweet</a>
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>



    <section class="page-section  page-section-overview">

      <div class="container">

        <div class="row">
          <div class="col-sm-4  page-section-overview-item">
            <span class="fa  fa-rocket"></span>
            <h2>Real time</h2>
            <p>What's your customer doing right now? Reading, writing? Has he scrolled down to that awesome section of your website?</p>
          </div>
          <div class="col-sm-4  page-section-overview-item">
            <span class="fa  fa-dashboard"></span>
            <h2>Smart metrics</h2>
            <p>With our dynamic dashboard you'll get the most awesome insight ever. Lots of useful information and filters, so you can see only what matters.</p>
         </div>
          <div class="col-sm-4  page-section-overview-item">
            <span class="fa  fa-github"></span>
            <h2>Open source</h2>
            <p>Help us create a better experience by <a href="http://github.com/umrum/umrum">contributing</a> to the project on Github. Don't know how to code? We welcome <a href="http://github.com/umrum/umrum/issues">feedback</a> from everyone!</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12  text-center">
            <h2>There's no 30-day trial! What are you waiting for?</h2><br>
          </div>
          <div class="col-lg-12  text-center">
            <p><a href="/signup" class="btn  btn-primary  btn-lg">Sign up now for free</a></p>
          </div>
        </div>

      </div> <!-- /container -->

    </section>



    <section class="page-section  page-section-showoff  gradient-baseball-field  contrast">

      <div class="container">

        <div class="row">
          <div class="col-sm-6">
            <h2 class="page-section-title">Get to know your audience</h2>
            <p class="lead">Are you counting clicks and page views? That's awesome... but not enough! Watch every move your customers make and act on the right time!</p>
          </div>
          <div class="col-sm-6  go-right">
            <div class="chart" id="chart1-parent">
              <canvas id="chart1"></canvas>
            </div>
          </div>
        </div>

      </div> <!-- /container -->

    </section>



    <section class="page-section  page-section-showoff">

      <div class="container">

        <div class="row">
          <div class="col-sm-6">
            <div class="chart" id="chart2-parent">
              <canvas id="chart2"></canvas>
            </div>
          </div>
          <div class="col-sm-6  go-right">
            <h2 class="page-section-title">Real time, for real!</h2>
            <p class="lead">When we say real time we're not kidding. You'll be amazed with the most comprehensive control panel with beautiful and organised information. <a href="/signup">Sign up</a> to see what we're talking about.</p>
          </div>
        </div>

      </div> <!-- /container -->

    </section>




    <section class="page-section  page-section-callout  contrast">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <p>Did we mention you can access the control panel from any device?</p>
            <a href="/getting-started" class="btn  btn-primary  btn-lg">Learn more</a>
          </div>
        </div>

      </div> <!-- /container -->

    </section>




    <section class="page-section  page-section-team">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2 class="page-section-title  text-center">Our team</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3  col-xs-6  page-section-team-item">
            <img class="img-circle" src="public/img/team/helielson-santos.jpg">
            <h3>Helielson Santos <a class="fa  fa-github" href="http://github.com/Helielson"></a></h3>
          </div>
          <div class="col-md-3  col-xs-6  page-section-team-item">
            <img class="img-circle" src="public/img/team/rafael-verger.jpg">
            <h3>Rafael Verger <a class="fa  fa-github" href="http://github.com/rafaelverger"></a></h3>
          </div>
          <div class="col-md-3  col-xs-6  page-section-team-item">
            <img class="img-circle" src="public/img/team/ricardo-torres.jpg">
            <h3>Ricardo Torres <a class="fa  fa-github" href="http://github.com/rictorres"></a></h3>
          </div>
          <div class="col-md-3  col-xs-6  page-section-team-item">
            <img class="img-circle" src="public/img/team/wilson-mendes.jpg">
            <h3>Wilson Mendes <a class="fa  fa-github" href="http://github.com/willmendesneto"></a></h3>
          </div>
        </div>

      </div> <!-- /container -->

    </section>

  </main> <!-- /page -->
{% endblock %}
